.container {
  border: 2px solid;
  width: 50%;
  border: 1px solid gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #04aa6d;
  color: white;
  padding: 0.2em 0.5em;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 0.5em;
}

table {
  font-weight: bold;
  border-collapse: collapse;
  width: 35%;
  border: 1px solid gray;
  margin-right: 0.5em;
}

td,
th {
  font-size: 0.7rem;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.titles {
  background-color: gray !important;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 0.2em;
}

.footer div {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.body2 {
  border: 2px solid;
  font-size: 0.8rem;
  width: 65%;
  border: 1px solid gray;
}

.active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
}

.form {
  padding: 1em;
}

.form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.form input {
  width: 60%;
  border: 1px solid gray;
  outline-style: none;
  border-radius: 0.3em;
}

.form label {
  font-weight: bold;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabsRadio {
  display: none;
}

.tabContent {
  order: 1;
  width: 100%;
  display: none;
}

.tabsRadio:checked + .tabsLabel {
  color: #04aa6d;
  background-color: white;
}

.tabsRadio:checked + .tabsLabel + .tabContent {
  display: block;
}

.tabsLabel {
  padding: 0.2em 0.5em;
  background-color: #dddddd;
}
